.tabs-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    background: #f8f8f8 !important;
    opacity: 0.7;
}
.tabs-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    background: white !important;
    opacity: 1;
}
