$app_horizontal_margin: 24px;
$content_margin: 12px;
$card_content_margin: 18px;
$border_color: #e8e8e8;
$light-gray: #fbfbfb;
$params_flex: 2;
$base-color: #1838ff;
$items_flex: 7;
$red-text: #F5222D;
$small_select_width: 44px;
$editable_p_max_width: 144px;